<%= image_tag(@user.avatar_medium, class: "user-profile-avatar") %><br />

<p><%= @user.edit_profile_link %></p>

<h1><%= @user.username %></h1>

<%= @user.follow_link %>

<div class="user-profile-email">
  <h3> My email </h3>
  <p><%= @user.email %></p>
</div>

<div class="user-profile-bio">
  <h3> About me </h3>
  <%= @user.bio %>
</div>

<div class="user-profile-subscriptions">
  <h3> My subscriptions </h3>
   <%= @user.display_number("following") %>
</div>

<div class="user-profile-followers">
  <h3> My followers </h3>
  <%= @user.display_number("followers") %>
</div>

<div>
  <h3> I have made the following not-tweets: </h3>
  <!-- I'd like to get this logic out of the view, but I'm not sure how -->
  <% @user.posts.each do |post| %>
    <div class="user-profile-post row">
      <div class="col-md-5">
        <%= link_to post.content, post_path(post) %>
      </div>
      <% if current_user == @user %>
        <div class="col-md-1">
          <%= link_to '', edit_post_path(post), class: "glyphicon glyphicon-pencil" %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
