<%= image_tag(@user.avatar.url(:medium), class: "user-profile-avatar") %><br />
<p><%= link_to 'Edit your profile', edit_user_registration_path  %></p>

  <h1><%= @user.username %></h1>
<% if current_user.is_following?(@user.id) %>
  <%= link_to 'Unfollow this user', unfollow_path(user: @user), method: :delete %>
<% else %>
  <%= link_to 'Follow this user', follow_path(user: @user), method: :post %>
<% end %>

<div class="user-profile-email">
  <h3> My email </h3>
  <p><%= @user.email %></p>
</div>

<div class="user-profile-bio">
  <h3> About me </h3>
  <%= @user.bio %>
</div>

<div class="user-profile-subscriptions">
  <h3> My subscriptions </h3>
  I am following <%= pluralize(@user.number_followed_by_user, "person") %>.
</div>

<div class="user-profile-followers">
  <h3> My followers </h3>
  I have <%= pluralize(@user.number_of_followers, "followers") %>.
</div>

<div>
  <h3> I have made the following not-tweets: </h3>
  <% @user.posts.each do |post| %>
    <div class="user-profile-post row">
      <div class="col-md-5">
        <%= link_to post.content, post_path(post) %>
      </div>
      <div class="col-md-1">
        <%= link_to '', edit_post_path(post), class: "glyphicon glyphicon-pencil" %>
      </div>
    </div>
  <% end %>
</div>
