<%= image_tag(@user.avatar.url(:medium)) %><br />
<h1><%= @user.username %></h1>
<% if current_user.is_following?(@user.id) %>
  <%= link_to 'Unfollow this user', unfollow_path(user: @user), method: :delete %>
<% else %>
  <%= link_to 'Follow this user', follow_path(user: @user), method: :post %>
<% end %>

<div class="user-profile-email">
  <h3> My email </h3>
  <p><%= @user.email %></p>
</div>

<div class="user-profile-bio">
  <h3> About me </h3>
  <%= @user.bio %>
</div>

<div class="user-profile-subscriptions">
  <h3> My subscriptions </h3>
  I am following <%= pluralize(@user.number_followed_by_user, "person") %>.
</div>

<div class="user-profile-followers">
  <h3> My followers </h3>
  I have <%= pluralize(@user.number_of_followers, "followers") %>.
</div>

<div class="user-profile-not-tweets">
  <h3> I have made the following not-tweets: </h3>
  <% @user.posts.each do |post| %>
    <%= post.content %> <br />
  <% end %>
</div>
