<%= image_tag(@user.avatar.url(:medium)) %><br />
<h1><%= @user.username %></h1>
<%= link_to 'Follow this user', follow_path(user: @user), method: :post %>

<div class="user-profile-email">
  <h3> My email </h3>
  <p><%= @user.email %></p>
</div>

<div class="user-profile-bio">
  <h3> About me </h3>
  <%= @user.bio %>
</div>

<div class="user-profile-subscriptions">
  <h3> My subscriptions </h3>
  I am following <%= "0" %> people.
</div>

<div class="user-profile-followers">
  <h3> My followers </h3>
  I have <%= "0" %> followers.
</div>

<div class="user-profile-not-tweets">
  <h3> I have made the following not-tweets: </h3>
  <% @user.posts.each do |post| %>
    <%= post.content %> <br />
  <% end %>
</div>
