<h1>Your Feed</h1>

<table class="post-feed-table">
  <thead>
    <tr>
      <th>User</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td class="post-username">
          <%= link_to post.author_name, "/profile/#{post.author_name}" %>
        </td>
        <td class="post-content"><%= link_to post.content, post_path(post) %></td>
        <td class="post-favorite"><%= post.favorite_icon %></td>
        <td class="post-edit"><%= post.edit_icon %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
